.review-add form {
  flex-direction: column;
  justify-content: center;
}

.review-add .rate {
  margin-block-end: 0.5rem;
}

.review-add .rate span {
  cursor: pointer;
}

.review-add .input {
  margin-block-end: 0.5rem;
}

.checked {
  color: orange;
}
