.review-container {
  position: relative;
  border-block-start: 1px solid var(--gray3);
  margin-bottom: 2rem;
}

.review-container .btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.review-preview:hover {
  background-color: var(--gray5);
}

.review-preview .reviewer {
  font-size: 0.8rem;
  color: var(--gray3);
  margin-block-end: 0.5rem;
}

.review-preview .date {
  font-size: 0.9rem;
  color: var(--gray2);
}
