@media screen and (min-width: 480px) {
  html {
    font-size: 80%;
  }
  .note-list {
    column-count: 2;
  }
 
}

@media screen and (min-width: 600px) {
  .emails-preview .preview-data {
    display: flex;
  }
}

@media screen and (min-width: 820px) {
  html {
    font-size: 90%;
  }

  .main-layout {
    max-width: 720px;
    margin: 0 auto;
    margin-top: var(--spacing-large);
  }

  .app-header h2 {
    display: block;
  }
  .app-header .search .input-search {
    width: 30rem;
  }
  .app-header .search {
    left: 14rem;
  }

  .notes {
    margin-left: 2rem;
  }

  .note-list {
    column-count: 3;
  }

  .canvas-container {
    width: 32rem;
    height: 32rem;
  }
  
  .emails-preview .email-body {
    display: block;
  }
}

@media screen and (min-width: 1180px) {
  html {
    font-size: 100%;
  }

  .main-layout {
    max-width: 880px;
  }

  .book-app-header {
    flex-direction: row;
  }

  .book-app-header .book-logo {
    display: block;
  }

  .note-list {
    column-count: 4;
  }

  .app-header .search .input-search {
    width: 40rem;
  }

  .app-header .search {
    left: 16.5rem;
  }

  .note-add .type-picker {
    grid-template-columns: repeat(6, 1fr);
  }

  .note-add .note-add-img .img-inputs {
    align-items: center;
    flex-direction: row;
  }

  .note-add-img .img-inputs input:first-child {
    margin-block-end: 0;
  }

  .note-add-img .img-inputs .or {
    margin-inline-end: 0;
  }

  .note-add .file-upload {
    margin-inline-start: 1rem;
  }

  .note-tools {
    opacity: 0;
  }

  .note-preview:hover .note-tools {
    opacity: 1;
  }

  
}

@media screen and (min-width: 900px) {
  .main-layout {
    max-width: 980px;
  }
}
