* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 75%;
}

body {
  background-color: var(--gray2);
  color: var(--gray6);
  line-height: 1.4;
  font-family: Roboto-regular, sans-serif;
}
