/* flex helper */

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-start {
  justify-content: start;
}

.flex.align-center {
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.flex-column {
  flex-direction: column;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* GRID  */

.grid {
  display: grid;
}
