.main-layout {
  padding-inline-start: var(--spacing-large);
  padding-inline-end: var(--spacing-large);
  /* max-width: 980px;
  margin: 0 auto; */
  margin-top: 3rem;
}

.email-container.open-side {
  margin-inline-start: 13.8rem;
}

.email-details-container.open-side {
  margin-inline-start: 14rem;
}
