.side-nav {
    flex-basis: 20%;
    position: relative;
    padding-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}

.side-nav>* {
    font-family: Roboto-regular;
}

.side-nav .nav-btn {
    border-radius: 0 1.1rem 1.1rem 0;
    border: 0.1em solid transparent;
    background-color: transparent;
    padding: 0.4rem;
    font-size: 0.9rem;
    text-align: start;
    color: var(--clr4)
}

.side-nav .nav-btn:hover {
    background-color: rgba(240, 222, 85, 0.732);
}

