.side-nav {
  min-width: 15.5375rem;
  position: relative;
  padding: 0.5rem 0.5rem 0 0;
  border-inline-end: 0.05rem solid rgba(255, 255, 255, 0.11);
}

.side-nav > * {
  font-family: Roboto-regular;
}

.side-nav .nav-btn {
  border-radius: 0 1.1rem 1.1rem 0;
  border: 0.1em solid transparent;
  background-color: transparent;
  padding: 0.4rem;
  font-size: 0.9rem;
  text-align: start;
  color: var(--clr4);
  cursor: pointer;
}

.side-nav .nav-btn i {
  margin-inline-end: 1rem;
  margin-inline-start: 0.5rem;
}

.side-nav .nav-btn:hover {
  background-color: rgba(240, 222, 85, 0.285);
}

.nav-btn.active {
  background-color: rgba(240, 222, 85, 0.762);
  font-family: Roboto-bold;
}