.app-header {
  display: flex;
  align-items: center;
  padding: 0.45rem;
  border-bottom: 0.05rem solid rgba(255, 255, 255, 0.11);
  position: relative;
}

.app-header button {
  background-color: var(--gray2);
  color: var(--gray6);
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  border: none;
  margin-inline-end: var(--spacing-large);
  margin-inline-start: var(--spacing-medium);
  cursor: pointer;
}

.app-header button:hover {
  background-color: rgba(255, 255, 255, 0.177);
  border-radius: 50%;
}
.app-header img {
  width: 2.5rem;
  margin-inline-end: var(--spacing-medium);
}

.app-header h2 {
  margin-inline-end: 5rem;
  font-weight: 400;
  display: none;
}

.app-header .search {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 10rem;
}

.app-header .search .input-search {
  /* width: 40rem; */
  width: 20rem;
  padding: var(--spacing-medium2);
  padding-left: 2.5rem;
  background-color: var(--gray3);
  border-radius: 9px;
  border: none;
  outline: none;
  color: var(--gray6);
  font-size: 1rem;
}

.app-header .search .icon {
  position: absolute;
  left: 0.7rem;
  top: 1.2rem;
}

.app-header .input-search::placeholder {
  color: var(--gray6);
}

.app-header .fa-sliders {
  position: absolute;
  top: 35%;
  right: 20px;
  cursor: pointer;
}

