.side-nav {
  position: fixed;
  top: 149px;
  left: 0;
  width: 220px;
  height: 100%;
  background: var(--gray2);
  z-index: 100;
  padding: 0.5rem 0.5rem 0 0;
  border-inline-end: 0.05rem solid rgba(255, 255, 255, 0.11);
  transition: all 0.1s;
}

.side-nav ul li a {
  display: flex;
  color: inherit;
  padding: 0.4rem;
  border-radius: 0 1.1rem 1.1rem 0;
  font-family: Roboto-regular;
  color: var(--clr4);
  cursor: pointer;
}

.side-nav ul li a .icon {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-inline-start: 0.5rem;
  padding-inline-start: 0.1rem;
  flex-basis: 18%;
}

.side-nav ul li a .text {
  font-size: 0.9rem;
}

.side-nav ul li a:hover {
  background-color: rgba(240, 222, 85, 0.285);
  color: var(--gray5);
}

.hover-collapse .side-nav {
  width: 3.75rem;
}

.hover-collapse .side-nav ul li a .text {
  display: none;
}

.hover-collapse .side-nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hover-collapse .side-nav ul li a .icon {
  margin-inline-end: 0;
  margin-inline-start: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-nav ul li a.email-compose {
  max-width: fit-content;
  border-radius: 2rem;
  padding: 0.7rem;
  margin-block-end: 0.7rem;
  cursor: pointer;
  margin-inline-start: 0.5rem;
  background-color: var(--gray5);
  color: var(--gray1);
}

.side-nav ul li a.email-compose span.icon {
  margin-right: 0.3rem;
  text-align: center;
}

.side-nav ul li a.email-compose span.text {
  font-size: 1.2rem;
  font-family: Roboto-Bold;
  margin-right: 1rem;
}

.side-nav ul li a.email-compose:hover {
  background-color: rgba(240, 222, 85, 0.285);
  color: var(--gray5);
}

.hover-collapse .side-nav ul li a.email-compose span.icon {
  margin-inline-start: 0.2rem;
}
