header {
  background-image: linear-gradient(#c03a2b5d, var(--gray2));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  flex-grow: 1;
  /* max-height: 10vh; */
  /* flex-basis: 10%; */
  /* width: 100%; */
}

header .logo img {
  width: 5rem;
}
