header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: var(--spacing-large);
}

header .logo img {
  width: 125px;
}
