.home-page {
  height: 80vh;
  width: 100%;

  background-image: linear-gradient(
      to bottom,
      rgba(33, 37, 41, 0.837),
      rgba(192, 58, 43, 0.563)
    ),
    url(../../assets/img/home-page6.jpg);
  background-size: cover;
  background-position: center;

  position: absolute;

  transition: transform 0.4s;
}

svg {
  display: block;
  font: 10.5em 'Montserrat';
  width: 960px;
  height: 300px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #fff4e6;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #d9480f;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #f76707;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #f76707;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #f8f9fa;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
