.nav-bar {
  position: fixed;
  width: 15rem;
  height: 15rem;
  right: 4.4rem;
  top: 10px;
  padding: var(--spacing-medium);
  border-radius: 9px;
  /* background: rgb(44, 42, 46);
  background: radial-gradient(
    circle,
    rgba(192, 57, 43, 0.9164040616246498) 0%,
    rgba(44, 42, 46, 1) 100%
  ); */
  background-color: #212529a4;
  background-image: linear-gradient();
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  animation: fadeIn 0.4s ease-out;
  z-index: 1000;
  border: 2px solid rgba(192, 58, 43, 0.244);
}

.nav-bar a {
  text-decoration: none;
  color: var(--gray6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 9px;
}

.nav-bar a:hover {
  background-color: rgba(255, 255, 255, 0.107);
  color: var(--primary-color);
}

.nav-bar a i {
  font-size: 2rem;
  margin-block-end: 1rem;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  margin: 0 auto;
  /* margin-top: 30px; */
  margin-right: 1rem;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: var(--gray6);
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.hamburger2 .bar2,
.hamburger3 .bar3,
.hamburger4 .bar4 {
  top: 13.5px;
}

.hamburger4 .bar5 {
  bottom: 0px;
}

.hamburger4 .bar {
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
  width: 1px;
  transform: rotate(90deg);
  left: 13.5px;
}

.hamburger4 .bar3 {
  width: 1px;
  left: 13.5px;
}

.checkbox4:checked + label > .hamburger4 > .bar1 {
  top: 13.5px;
  background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar2 {
  left: 0px;
  width: 30px;
  transform: rotate(45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar3 {
  left: 0;
  width: 30px;
  transform: rotate(-45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar4 {
  background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar5 {
  bottom: 13.5px;
  background-color: transparent;
}
