.user-msg {
  position: fixed;
  bottom: 4rem;
  right: 5px;
  background-color: var(--gray3);
  width: 350px;
  padding: 1rem;
  z-index: 1000;
  border: 2px solid #000;
  border-radius: 9px;
  align-items: center;

  animation: moveUpFadeIn 0.3s ease-in, moveDownFadeOut 0.3s ease-out 1.8s;
}

.user-msg i {
  font-size: 2rem;
  margin-inline-end: 1.5rem;
}

.success {
  border-color: #40c057;
  color: #40c057;
}

.error {
  border-color: #e03131;
  color: #e03131;
}

@keyframes moveUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveDownFadeOut {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
