.color-palette-btn {
  position: relative;
}

.color-palette {
  display: grid;
  opacity: 0;
  pointer-events: none;
  grid-template-columns: repeat(6, 1fr);
  top: -35px;
  left: 15px;
  border-radius: 3px;
  background-color: var(--gray2);
  position: absolute;
  gap: 0.2rem;
  padding: 0.3rem;
  border-radius: 3px;
  z-index: 1;
  transition: opacity 0.3s;
  break-inside: avoid;
}

.color-palette-btn:hover .color-palette {
  opacity: 1;
  pointer-events: auto;
}

.color-palette div {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: solid 1px var(--gray1);
}

.color-palette div:hover {
  transform: scale(110%);
}
