.note-list {
  margin: 2em auto;
  column-gap: 0.25em;
  column-count: 1;
  vertical-align: baseline;
  position: relative;
  padding: var(--spacing-large);
}

.note-list a {
  padding: var(--spacing-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-list a:hover {
  background-color: var(--gray4);
}

.note-list div {
  position: relative;
}

.note-list .pinned {
  position: absolute;
  backface-visibility: hidden;
  top: 5px;
  right: 20px;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #fab005;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  transform: rotate(45deg);
  z-index: 1;
}

@media screen and (min-width: 460px) {
  html {
    font-size: 80%;
  }
  .note-list {
    column-count: 2;
  }
}

@media screen and (min-width: 760px) {
  html {
    font-size: 90%;
  }

  .note-list {
    column-count: 3;
  }
}

@media screen and (min-width: 900px) {
  html {
    font-size: 100%;
  }

  /* .side-nav {
    min-width: 15.5375rem;
  } */

  .note-list {
    column-count: 4;
  }
}
