.note-add-wrapper {
  padding-inline-start: 1.2rem;
  padding-inline-end: 1.2rem;
}

.note-add {
  max-width: 43rem;
  margin: 0 auto;
  background-color: var(--gray2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  border: 1px solid var(--gray4);
}

.note-add .note-add-inner {
  padding: var(--spacing-medium2);
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.note-add .type-picker {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-medium);
  margin-inline-end: var(--spacing-small);
  padding: var(--spacing-medium);
}

.note-add .type-picker a {
  font-size: 1.2rem;
  padding: var(--spacing-smallest);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.note-add .type-picker a:hover {
  background-color: rgba(240, 222, 85, 0.507);
}

.note-add .type-picker a.active {
  background-color: rgba(240, 222, 85, 0.658);
}

.note-add .text-box {
  flex-grow: 1;
  color: var(--gray4);
  font-weight: 700;
  font-family: Roboto-bold, sans-serif;
  padding: var(--spacing-medium);
}

.note-add input[type='text'],
.note-add input[type='url'] {
  border: none;
  background-color: var(--gray2);
  color: var(--gray5);
  padding: 0.5rem;
  outline: none;
}

.note-add .note-add-video input[type='url'] {
  width: 100%;
}

.note-add input[type='file'] {
  display: none;
}

.note-add input::placeholder {
  color: var(--gray4);
  font-family: Roboto-bold, sans-serif;
  font-weight: 600;
}

.note-add .file-upload {
  font-family: Roboto-regular, sans-serif;
  border: 1px solid var(--gray4);
  padding: 0.5rem;
  border-radius: 9px;
  cursor: pointer;
}

.note-add .file-upload span {
  margin-inline-start: 0.8rem;
}

.note-add .note-add-img .img-inputs {
  /* align-items: center; */
  align-items: flex-start;
  flex-direction: column;
  color: var(--gray5);
  font-weight: 700;
}

.note-add-img .img-inputs input:first-child {
  margin-block-end: var(--spacing-medium);
}

.note-add-img .img-inputs .or {
  margin-inline-end: var(--spacing-medium);
}
