.note-add-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: var(--spacing-medium2);
  background-color: var(--gray2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  border: 1px solid var(--gray6);
}

.note-add {
  flex-grow: 1;
  padding: var(--spacing-medium);
}

.note-add input {
  border: none;
  background-color: var(--gray2);
  color: var(--gray6);
  padding: 0.5rem;
  outline: none;
}

.note-add input::placeholder {
  color: var(--gray6);
  font-weight: 700;
}

.note-add-container .note-type-picker a {
  font-size: 1.2rem;
  display: inline-block;
  margin-inline-end: var(--spacing-small);
  cursor: pointer;
}

.add-note-txt,
.add-note-img {
  flex-direction: column;
  width: 100%;
}
