.note-add {
  background-color: var(--gray3);
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  border-radius: 3px;
}

.note-add input {
  border: none;
  background-color: var(--gray3);
  color: var(--gray6);
  padding: 0.5rem;
}

.note-add input::placeholder {
  color: var(--gray6);
}

.note-add .note-type-picker a {
  font-size: 1.2rem;
  display: inline-block;
  margin-inline-end: var(--spacing-small);
  cursor: pointer;
}

.add-note-txt,
.add-note-img {
  flex-direction: column;
  width: 100%;
}
