.note-list {
  margin: 2em auto;
  column-gap: 0.25em;
  column-count: 4;
  vertical-align: baseline;
}

.note-list a {
  padding: var(--spacing-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-list a:hover {
  background-color: var(--gray4);
}
