.email-prev-actions {
    padding: 1px;
}

.email-prev-actions .delete-email {
    background-color: transparent;
    border: none;

    position: absolute;
    right: 5rem;
    cursor: pointer;
    color: var(--grey4);
    z-index: 200
}