:root {
  /* COLORS  */
  --primary-color: #c0392b;
  --primary-light: #f3f0ff;

  --gray1: #212529;
  --gray2: #2c2a2e;
  --gray3: #495057;
  --gray4: #adb5bd;
  --gray5: #dee2e6;
  --gray6: #f8f9fa;

  --error: #e03131;
  --success: #40c057;

  /* SPACING */
  --spacing-smallest: 0.3rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 0.8rem;
  --spacing-medium2: 1rem;
  --spacing-medium3: 1.5rem;
  --spacing-large: 2rem;
  --spacing-large2: 2.5rem;
}
