:root {
  /* COLORS  */
  --primary-color: #6741d9;
  --primary-light: #f3f0ff;

  --gray1: #212529;
  --gray2: #495057;
  --gray3: #adb5bd;
  --gray4: #dee2e6;
  --gray5: #f8f9fa;

  --clr1: rgb(73, 72, 72);
  --clr2: rgb(0, 0, 0);
  --clr3: rgba(110, 110, 110, 0.105);

  --error: #e03131;
  --success: #40c057;

  /* SPACING */
  --spacing-smallest: 0.3rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 0.8rem;
  --spacing-medium2: 1rem;
  --spacing-medium3: 1.5rem;
  --spacing-large: 2rem;
  --spacing-large2: 2.5rem;
}
